*{
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100%;
    width: 100%;
}

.title a {
    color: coral !important;
    text-decoration: none;
    text-align: center;
}

/*move to components dir*/
